@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser<int>> SignInManager
@inject UserManager<IdentityUser<int>> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>@ViewData["Title"] - GLMS</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="~/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    =======
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    >>>>>>> f305db0910f07b7cfab8b0cc24f935076d8e2071
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GLMS.styles.css" asp-append-version="true" />*@
</head>
<body class="g-sidenav-show  bg-gray-200">
    @if (SignInManager.IsSignedIn(User))
     {
        <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                <H1><span class="ms-1 font-weight-bold text-white px-5">GLMS</span></H1>
            </div>
            <hr class="horizontal light mt-0 mb-2">
        

        
            <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white " class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="nav-link-text ms-1">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <span class="nav-link-text ms-1">Privacy</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">
                            <span class="nav-link-text ms-1">CreateRole</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">
                            <span class="nav-link-text ms-1">User</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">
                            <span class="nav-link-text ms-1">Roles</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " class="nav-link text-dark" asp-area="" asp-controller="Actions" asp-action="Index">
                            <span class="nav-link-text ms-1">Actions</span>
                        </a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " class="nav-link text-dark" asp-area="" asp-controller="Actions" asp-action="Index">
                                <span class="nav-link-text ms-1">IP Settings</span>
                            </a>
                        </li>
                </ul>
            </div>
            
        </aside>
    }
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
            <div class="container-fluid py-1 px-3">
               <nav>

               </nav>

                @*<ul class="navbar-nav  justify-content-end">
                =======
                <ul class="navbar-nav  justify-content-end">
                >>>>>>> f305db0910f07b7cfab8b0cc24f935076d8e2071
                <li class="nav-item d-flex align-items-center">
                <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
                </a>
                </li>
                <<<<<<< HEAD
                </ul>*@

                <ul class="navbar-nav  justify-content-end">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link text-body font-weight-bold px-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                        </li>

                        <li class="nav-item d-flex align-items-center">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link font-weight-bold btn btn-primary text-white">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link text-body font-weight-bold px-2 btn btn-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link text-white font-weight-bold px-3 btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
        </nav>
        </ul>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - GLMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/core/popper.min.js"></script>
        <script src="~/js/core/bootstrap.min.js"></script>
        <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="~/js/plugins/smooth-scrollbar.min.js"></script>
        <script src="~/js/plugins/chartjs.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
