@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using GLMS.Constants
<h1>Product Management</h1>
<br />
@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Actions.Create)).Result.Succeeded)
{
    <button class="btn btn-success">Create</button>
}
@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Actions.View)).Result.Succeeded)
{
    <button class="btn btn-info">View</button>
}
@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Actions.Edit)).Result.Succeeded)
{
    <button class="btn btn-warning">Modify</button>
}
@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Actions.Delete)).Result.Succeeded)
{
    <button class="btn btn-danger">Delete</button>
}
<a asp-controller="Home" asp-action="Index" style="width:100px" class="btn btn-primary">Back</a>