@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="right-div">




    <div id="main">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a asp-action="Index" class="btn btn-primary">Back to List</a>

</div>
</div>